<ion-content style="background:#f1f1f1" overflow-scroll="true">
<div class="invite_main">
	<div class="invite_head">
		<div class="invite_head_left">
			<img ng-src="{{invite.head_img}}">
		</div>
		<div class="invite_head_right">
			<p><span>我是</span><span>{{invite.sender}}</span></p>
			<p>这是我的未见邀请码，关注“未见”后填写我的邀请码可以领取20元旅游代金券哦</p>
		</div>
	</div>
	<div class="yaoqingma">
		<p>邀请码：</p>
		<p style="-webkit-user-select: auto;">{{invite.inv_code}}</p>
		<p>(长按复制)</p>
	</div>
	<div class="invite_weixin">
		<p>领取代金券步骤：</p>
		<p>1、长按下方二维码，关注“未见”微信公众号</p>
		<p><img src="//7xls5t.com2.z0.glb.qiniucdn.com/ewm.jpg"></p>
		<P>2、在“未见”公众号内，点击<span>“邀请得券--领代金券”</span>输入邀请码，即可获得<span>20元</span>旅游代金券。代金券可在未见特价旅游平台购买旅游产品时抵扣现金。</P>
	</div>
</div>
</ion-content>