<div class="cart_header">
	<span>{{item.title}}</span>
</div>
<ion-content delegate-handle="mainScroll">
<div class="cart_categories">
	 <div class="cart_categories_parent">
	   <span>分类</span>
	   </div>	    
</div>
<div style="overflow:auto;">
<div id="tagsList" class="tags-cloud">
	<div class="tag" ng-class="{'tag_after':message[0] == selected_combo_id}" ng-repeat="message in item.combo" ng-click="cloudTagClicked(message)">
		<span class="tagName">{{message[1]}}</span>
	</div>
</div>
</div>
<div class="linea"></div>
<div class="choose_date_out">
	<div ng-click="changeDateCheck()">
		<span><i class="iconfont">&#xe62c;</i>选择日期：</span><span>{{pickedDate}}</span><span><i class="iconfont">{{date_check?'&#xe62f;':'&#xe630;'}}</i></span>
	</div>
	<div class="date" ng-show="date_check">
		  <div ng-if="dateSet" datepicker ng-model="pickedDate" date-set="{{dateSet}}" picked-date="pickedDate" is-adult="{{is_adult}}" combo-with-price="comboWithPrice" class="angular-datepicker-input">
		  </div>
    </div>
</div>
<div class="lineb"></div>
<div class="choose_people">
	<p>
	   <span>成人：</span><span>￥{{selected_prices[1]}}<a style="color:#484848">(余{{selected_prices[3]-adult_number}})</a></span><span>儿童：</span><span>￥{{selected_prices[2]}}<a style="color:#484848">(余{{selected_prices[4]-children_number}})</a></span>
	</p>
	<p>
	   <span ng-click="decNum(0)"><i class="iconfont">&#xe629;</i></span><span>{{adult_number}}</span><span ng-click="addNum(0)"><i class="iconfont">&#xe627;</i></span>
	   <span ng-click="decNum(1)"><i class="iconfont">&#xe629;</i></span><span>{{children_number}}</span><span ng-click="addNum(1)"><i class="iconfont">&#xe627;</i></span>
	</p>
</div>
<div class="linea"></div>
<div class="daijinquan" ng-if="user.my_coupon">
	<p>
	    <span class="other_daijinquan">可用代金券抵<a>{{coupondiscount()}}</a>元，剩余<a>{{user.my_coupon-coupondiscount()}}</a>元</span>
		<span ng-if="user && user.my_coupon>0"><label  class="checkbox"><input ng-click="changeCouponCheck()" type="checkbox"></label></span>
	</p>
	<P>
	    <span class="other">(每人每次最多抵用100元)</span>
	</p>	
</div19>

<div class="daijinquan" ng-if="!user.my_coupon">
	<p>
	    <span class="other">无代金券可用</span>
		<span ng-if="user && user.my_coupon>0"><label  class="checkbox"><input ng-click="changeCouponCheck()" type="checkbox"></label></span>
	</p>
	<P>
	    <span class="other">(每人每次最多抵用100元)</span>
	</p>	
</div>
</div>
<span class="pp">{{item_mumber}}</span> 
</ion-content>
<div class="cart_footer">
	<span class="total"><a class="total_count">总计：</a><a class="price">￥{{ coupon_check? adult_number * selected_prices[1] + children_number * selected_prices[2] - coupondiscount() : adult_number * selected_prices[1] + children_number * selected_prices[2]}}</a></span><span class="order" ng-click="placeOrder()">提交订单</span>
</div> 
