<ion-content style="background:#f1f1f1;">
<div class="information_main">
	<p>预订人信息</p>
	<p>为保障您的旅行顺利出行，请务必填写真实信息</p>
	<p><span>姓名</span><span style="width: 85%"><input type="text"  ng-model="shipping_address.name" placeholder="这里写你的姓名哦！" style="width: 100%"></span></p>
	<p><span>手机</span><span style="width: 85%"><input type="text"  ng-model="shipping_address.phone" placeholder="这里写你的手机噢！" style="width: 100%"></span></p>
	<p><span>邮箱</span><span style="width: 85%"><input type="text"  ng-model="shipping_address.email" placeholder="这里写你的邮箱呃！" style="width: 100%"></span></p>
	<p><span ng-click="placeOrder()">提交信息</span></p>
</div>
</ion-content>