<ion-content style="background:#f1f1f1;">
<div class="bounds_mymoney">
	<span>我的代金券：</span><span class="money">￥{{bounds.my_coupon || 0}}</span>
</div>
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs" style="top:50px;">
      <a class="tab-item" ng-click="changeTab(0)" ng-class="{'active':selecTabIndex==0}">全部</a>
      <a class="tab-item" ng-click="changeTab(1)" ng-class="{'active':selecTabIndex==1}">收入</a>
      <a class="tab-item" ng-click="changeTab(2)" ng-class="{'active':selecTabIndex==2}">支出</a>
    </div>
</div>
 <div ng-repeat="bound in display_bounds" class="daijinquan">
 	<p><span >{{bound.detail}}</span><span class="date">{{bound.when | date : 'MM-dd'}}</span></p>
 	<p><span class="pay_quan">{{bound.event}}</span><span class="money_quan">￥{{bound.cost}}</span></p>
 </div> 
</ion-content>