<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light" style="paddding:0;margin:0">
    <div class="tabs">
      <a class="tab-item" ng-click="changeTab(0)" ng-class="{'active':selecTabIndex==0}">全部订单</a>
      <a class="tab-item" ng-click="changeTab(1)" ng-class="{'active':selecTabIndex==1}">未完成订单</a>
      <a class="tab-item" ng-click="changeTab(2)" ng-class="{'active':selecTabIndex==2}">成功订单</a>
    </div>
  </div>
<ion-content style="background-color: #f1f1f1;">
<div class="wait_pay">
	<ul ng-repeat="order in display_orders">
		<li>
		    <span class="pay_left"><a>订单号：</a><a>{{order.number}}</a></span>
		    <span class="pay_right">{{order.order_state}}</span>
		</li>
		<li ng-if="order.people[0]>0">
			<p><span>{{order.product.title}}</span><span class="pay_right">￥{{order.price[0]}}</span></p>
			<p><span>{{order.combo[1]}}(成人)</span><span class="pay_right">x{{order.people[0]}}</span></p>
		</li>
		<li ng-if="order.people[1]>0">
			<p><span>{{order.product.title}}</span><span class="pay_right">￥{{order.price[1]}}</span></p>
			<p><span>{{order.combo[1]}}(儿童)</span><span class="pay_right">x{{order.people[1]}}</span></p>
		</li>
		<li>
			<p>
			   <span style=""><a>人数：</a><a>{{order.people[0]+order.people[1]}}</a></span>
			   <span  class="pay_right">
					 <a>价格：</a><a class="money">￥{{order.cost}}</a><a>(代金券抵用￥{{order.used_coupon}})</a>
				<span>
			 </p>

			<p class="pay_right">
			     <span ui-sref="app.pay.list({order_id:order.number})" ng-if="order.order_state=='待支付'">立即支付</span>
			     <span ui-sref="app.items.list({item_id:order.product.pid})" ng-if="order.order_state=='交易失败'">重新购买</span>
			</p>
		</li>
	</ul>
</div>

</ion-content>