<ion-content>
    <div ng-show="banners" class="banner" id="getheight">
         <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
            <li ng-repeat="banner in banners track by banner.banner_seq" ng-class="'banner_seq-' + banner.banner_seq">
                <div ng-click="bannerClicked(banner)" ng-style="{'background-image': 'url(' + compressImageUrl(banner.banner_img, 2.7) + ')'}"  class="bgimage" >
                </div>
             </li>   
          </ul>
          <div class="banner_list" rn-carousel-indicators ng-if="banners.length > 1" slides="banners" rn-carousel-index="carouselIndex2" ></div>
    </div>
        <div ng-if="home_cards">
          <div class="row">
            <div class="card_a card_left" style="background:{{home_cards[0].card_color}}" ui-sref="app.categories.list({category_name:home_cards[0].card_text,link:'tour'})">
                <img ng-src="{{compressImageUrl(home_cards[0].card_img,0.54,0.567,false,true)}}"  class="picture_balloon">
                <p>{{home_cards[0].card_text}}</p>
            </div>
            <div class="card_b" ui-sref="app.categories.list({category_name:home_cards[1].card_text,link:home_cards[1].card_link_to})" style="background:{{home_cards[1].card_color}}">
                <img ng-src="{{compressImageUrl(home_cards[1].card_img,0.707,0.54,false,true)}}" class="picture_air">
                <p>{{home_cards[1].card_text}}</p>
            </div>
          </div>
          <div class="row">
            <div class="card_b card_left" style="background:{{home_cards[2].card_color}}" ui-sref="app.wait.list({title:home_cards[2].card_text})">
              <img ng-src="{{compressImageUrl(home_cards[2].card_img,0.547,0.487,false,true)}}" class="picture_family">
              <p>{{home_cards[2].card_text}}</p>
            </div>
            <div class="card_a" style="background:{{home_cards[3].card_color}}" ui-sref="app.wait.list({title:home_cards[3].card_text})">
              <img ng-src="{{compressImageUrl(home_cards[3].card_img,0.48,0.44,false,true)}}" class="picture_car">
              <p>{{home_cards[3].card_text}}</p>
            </div>
          </div>
          <div class="row">
            <div class="card_a card_left" style="background:{{home_cards[4].card_color}}" ui-sref="app.wait.list({title:home_cards[4].card_text})">
              <img ng-src="{{compressImageUrl(home_cards[4].card_img,0.54,0.4333,false,true)}}" class="picture_bag">
              <p>{{home_cards[4].card_text}}</p>
            </div>
            <div class="card_b" style="background:{{home_cards[5].card_color}}">
              <a href="tel:028-87777006" style="text-decoration: none">
              <img ng-src="{{compressImageUrl(home_cards[5].card_img,0.453,0.48,false,true)}}" class="picture_phone">
              <p>{{home_cards[5].card_text}}</p>
              </a>
            </div>
          </div>
        </div>
</ion-content>



