<ion-content style="background-color:#f1f1f1;">
<div class="rule_main">
	<div class="use">
		<p>代金券使用规则</p>
		<P>未见发放的代金券是未见回馈用户的活动，领到的代金券可以直接在未见微信公众号中直接使用。</P>
	</div>
	<div class="lingqu">
		<P>代金券领取规则</P>
		<p>在活动期间，用户输入邀请码后可领取，每个用户（微信号）限领一次，领取后的代金券会直接充值到对应的未见账户（微信号）中。</p>
	</div>
	<div class="use">
		<p>代金券如何查看</p>
		<p>点击未见微信公众号底部菜单中“我的未见”——“我的代金券”里即可看到。</p>
	</div>
	<div class="lingqu">
		<p>邀请说明</p>
		<p>1.邀请好友，您和您的好友各得20元代金券；</p>
		<p>2.同一个微信号视为一个用户，一个新用户只能领取1张；</p>
		<p>3.非正常途径获得的代金券奖励无效，未见平台保留最终解释权。</p>
		<p>4.其他问题，请指点未见客服热线<span>028-87777006</span></p>
	</div>
</div>
</ion-content>